/* Navbar.module.css */

.container {
    position: relative;
    display: inline-block;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
    padding: 10px;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
}

.menuIcon {
    display: none;
    /* Initially hide the menu icon on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    /* background-color: orange; */
    border-radius: 5px;
    color: orange;
    -webkit-transform: scale(1.106);
    -moz-transform: scale(1.106);
    transform: scale(1.106);
}

.user_profile{
    justify-content: center;
    align-items: center;
    display: flex;
}

.user_profile:hover{
    -webkit-transform: scale(1.106);
    -moz-transform: scale(1.106);
    transform: scale(1.106);
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999; /* Ensure popup is above other elements */
  }

  .nav_menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav_menu.open {
    display: block;
  }

@media (max-width: 768px) {

    /* Show menu icon and hide menu on smaller screens */
    .menuIcon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 10px;
    }

    .menu.show {
        display: flex;
    }
  
}